@using Microsoft.AspNetCore.Html
@model QueryViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LogTool</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <table id="table-results" class="table table-striped table-hover table-sm table-results">
        @{
            using (var enumerator = Model.Rows.GetEnumerator())
            {
                var firstRow = true;
                var lastRow = !enumerator.MoveNext();

                while (!lastRow)
                {
                    var row = enumerator.Current;

                    if (firstRow)
                    {
                        @(new HtmlString("<thead><tr><th>" + string.Join("</th><th>", row) + "</th></tr></thead><tbody>"))

                        firstRow = false;
                    }
                    else
                    {
                        @(new HtmlString("<tr><td>" + string.Join("</td><td>", row) + "</td></tr>"))
                    }

                    lastRow = !enumerator.MoveNext();

                    if (lastRow)
                    {
                        @(new HtmlString("</tbody>"))
                    }
                }
            }
        }
    </table>
    <script>
        document.getElementById('table-results').style.display = 'table';
    </script>
</body>
</html>