html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

#query {
    font-family: Courier New, Courier, monospace;
    font-size: 1.1rem;
}

#results {
    width: 100%;
    height: 600px;
}

.table-results {
    display: none;
    margin-bottom: 0 !important;
}

.table-results thead {
    position: sticky;
    inset-block-start: 0;
    background: #fff;
}

.table-results td {
    white-space: nowrap;
    /*font-size: 0.8rem;*/
}

.btn-primary {
    width: 100%;
}

.loading {
    margin-top: 0.3rem;
}

.page-link span {
    pointer-events: none;
}